.redbg{
    background-color: #f72210;
}
.navbg{
    background-color: #f8f9fa;
}
.opinionimg{
    width: 63px;
    height: 63px;
}
.nav-item a:hover{
    color: #f72210 !important;
}
.imagenews{
    width:130px;
    height: 90px;
    float: left;
}
